<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/main">
<head>
</head>
<body>
    <div class="island" layout:fragment="page-content">
        <!--h1 th:text="${T(org.cloudfoundry.identity.uaa.zone.IdentityZoneHolder).uaa ? 'Welcome!':'Welcome to '+zone_name+'!'}">Welcome!</h1-->
        <div class="box box--huge">
            <div class="u-lap-and-up-m++ u-lap-and-up-p++">
              <div class="flex flex--center u-mv++">
                <img th:src="@{${assetBaseUrl}+'/images/predix-logo.png'}" alt="Predix"/>
              </div>
              <th:block th:if="${fieldUsernameShow}">
                <form th:action="@{/login.do}" method="post" novalidate="novalidate" class="u-mh++ u-mb++">
                  <div th:if="${param.error}" class="alert alert-error">
                      <p th:text="#{'login.' + ${param.error[0]}}">Error Message</p>
                  </div>
                  <input th:each="prompt,iter : ${prompts}"
                         th:name="${prompt.key}"
                         th:type="${prompt.value[0]}"
                         th:placeholder="${prompt.value[1]}"
                         th:autocomplete="${prompt.value[0] != 'password'}"
                         th:autofocus="${iter.index} == 0"
                         class="text-input u-mb+"/>
                  <input type="submit" value="Sign in" class="btn btn--full btn--large btn--primary u-m0"/>
              </form>
            </th:block>
            </div>
        </div>
    </div>
</body>
</html>